/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

* {
  font-family: "Open Sans", sans-serif;
  // overflow: hidden !important; /* Hide scrollbars */
}


$grey-color: #adadad;
$medium-text: 20px;
$small-text: 16px;

@mixin page-container {
  justify-content: center;
  text-align: center;
}

.login-page {
  @include page-container();

  background-image: url("../static/waves_top_small.png");
  background-repeat: no-repeat;
  background-size: contain;

  &__logo {
    width: 220px;
    margin: 120px 0 10px 0;
  }

  &__introduction {
    color: #ffffff;
    font-size: $small-text;
  }

  input {
    background: #ffffff;
    text-align: center;

    width: 80%;
    height: 50px;

    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 150px auto 0 auto;

    font-size: $medium-text;
  }

  input::placeholder {
    text-align: center;
    color: $grey-color;
    font-size: $medium-text;
  }

  input:focus {
    box-shadow: 1px 1px 5px 0px #1b02b9;
    transition: 0.5s;
  }

  &__gender-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0;
  }

  &__male-button {
    width: 110px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;

    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px 5px;
    margin-right: 10px;

    &.is-active {
      box-shadow: 1px 1px 8px 2px #1b02b9;
      transition: 0.4s;
    }
  }

  &__male-icon {
    width: 100px;
  }

  &__female-button {
    width: 110px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;

    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px 5px;
    margin-left: 10px;

    &.is-active {
      box-shadow: 1px 1px 8px 2px #1b02b9;
      transition: 0.4s;
    }
  }

  &__female-icon {
    width: 100px;
  }

  &__button {
    width: 150px;
    height: 50px;

    padding: 8px 45px;

    background: linear-gradient(
      115.47deg,
      #1b02b9 1.3%,
      rgba(43, 33, 101, 0) 165.29%
    );
    filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 25px;

    color: #ffffff;
    font-size: $medium-text;

    &--disabled{
      opacity: 0.3;
    }
  }

  &__button:active {
    transform: scale(1.05);
    transition: 0.4s;
  }

  &__app-info {
    font-size: $small-text;
    color: $grey-color;
  }
}
